<div class="container">
  <form>

    <div class="ui-g">
      <div class="ui-g-12">
          <h1>Novo Lançamento</h1>
      </div>

      <div class="ui-g-3 p-fluid">
        <label>Vencimento</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-3 p-fluid">
        <label>Recebimento</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-12 ui-md-9 p-fluid">
        <label>Descrição</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-12 ui-md-3 p-fluid">
        <label>Valor</label>
        <input pInputText type="text" placeholder="0,00">
      </div>

      <div class="ui-g-12 p-fluid">
        <label>Categoria</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-12 p-fluid">
        <label>Pessoa</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-12 p-fluid">
        <label>Observação</label>
        <textarea pInputTextarea rows="3"></textarea>
      </div>

    </div>
  </form>
</div>
